/* mobile screen  */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        margin-bottom: 10px;
    }
    nav li {
        margin-top: 15px;
        margin-right: 10px;
      }
    main {
        padding: 0 2%;
    }
    .banner {
        text-align: center;
        background-position: center;
    }
    .trip-selection {
        flex-direction: column;
        width: 60%;
        gap: 16px;
        padding: 4% 4%;
    }
    .trip-selection input {
        width: 92%;
        padding: 4% 4%;
        font-size: 1.125rem;
    }
    .trip-selection select,
    .search-btn {
        width: 100%;
        padding: 4% 4%;
        font-size: 1.125rem;
    }
}