@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* shared codes */
* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 800;
  color: #131318;
}

.org {
  color: #ff5400;
}

/* END  */

/* header nav part start here*/
header {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.brand-title {
  display: flex;
  align-items: center;
  font-size: 2.25rem;
}

.brand-title > h3 {
  margin-left: 10px;
}

nav ul {
  display: flex;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-right: 3rem;
}

nav li a {
  color: #424247;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 400;
}
/* header part End here*/

/* main part start here  */
main {
  max-width: 1170px;
  margin: 0 auto;
}
/* End  */

/* banner section start here  */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/banner.png");
    background-size: cover;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 10% 0;
    border-radius: 16px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 0 50px;
    max-width: 670px;
    text-align: center;
}

.trip-selection {
    display: flex;
    gap: 25px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1% 2%;
}

.trip-selection input {
    color: rgba(19, 19, 24, 0.50);
    width: 150px;
    padding: 2% 1%;
    border: none;
    border-radius: 8px;
    font-size: 0.85rem;
}

.trip-selection select {
    width: 150px;
    border: none;
    border-radius: 8px;
    padding: 2% 1%;
    font-size: 0.85rem;
    color: rgba(19, 19, 24, 0.50);
}

.trip-selection option {
    padding: 2% 1%;
}

.search-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFFFFF;
    border: none;
    text-align: center;
    width: 150px;
    padding: 2% 1%;
    border: none;
    border-radius: 8px;
    font-size: 0.85r
}

/* banner section END here  */